# Approach 1: RGB only from Oct 7

In [1]:
import pandas as pd

In [2]:
results = pd.read_csv('RESULTS_reg.txt',sep='\t')

In [3]:
results

,DateTime,RunTime,ID,Tag,Y,Alg,NumInstances,FeatureNum,CVfold,CV_rep,...,MSE_test_se,EVS_test,EVS_test_sd,EVS_test_se,r2_test,r2_test_sd,r2_test_se,PCC_test,PCC_test_sd,PCC_test_se
0,2020-03-13 23:08:16,9368.250606,/mnt/home/lotrecks/Classes/module-2-LUA/module...,NaN,Class,RF,1051,21,10,100,...,3448.942961,0.118303,0.004456,0.000446,0.118098,0.00446,0.000446,0.344075,0.006294,0.000629

In [4]:
results.columns.values

array(['DateTime', 'RunTime', 'ID', 'Tag', 'Y', 'Alg', 'NumInstances',
       'FeatureNum', 'CVfold', 'CV_rep', 'MSE_val', 'MSE_val_sd',
       'MSE_val_se', 'EVS_val', 'EVS_val_sd', 'EVS_val_se', 'r2_val',
       'r2_val_sd', 'r2_val_se', 'PCC_val', 'PCC_val_sd', 'PCC_val_se',
       'MSE_test', 'MSE_test_sd', 'MSE_test_se', 'EVS_test',
       'EVS_test_sd', 'EVS_test_se', 'r2_test', 'r2_test_sd',
       'r2_test_se', 'PCC_test', 'PCC_test_sd', 'PCC_test_se'],
      dtype=object)

## Feature Brainstorm

1. Use Sept 2 instead of Oct 7 
2. Train two models (A) using 9/2 and 7/2, with composite features between the two dates and (B) using every date, no composite features 
3. Also retry original model with just Sept 2
4. Add in Robert's height data

Composite features: for each feature type, take the difference between the two dates and make that a new feature